*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: #f1f1f1;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2{
    color: #444;
}
h3{
    color: #999;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
 }
 .container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;

}

.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content-sidebar {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
  }
  
  .content-sidebar > .content {
    flex: 1 1 70%;
    /* min-width: none; */
  }
  
  .content-sidebar > .sidebar {
    flex: 1 1 25%;
    /* min-width: none; */
  }
  
  .primary-highlight {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
  }
  /* main ko paalo*/
.main {
    background-color: var(--accents-2);
    padding: 4rem 0;
  }
  
  .main > .container {
    padding: 1em 2em;
  }
  
  .main .title {
    font-weight: 500;
    margin: 0;
  }
  
  .main .description {
    font-weight: 400;
    color: var(--accents-5);
  }
@media screen and (max-width: 1050px){
    .side-menu li{
        font-size: 18px;
    }
}

@media screen and (max-width: 940px){
    .side-menu li span{
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .brand-name h1 {
        font-size: 22px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;

    }
}